<h1>{{ title }}</h1>
{{#if errors.length}}
    <div>found errors:</div>
{{/if}}
<ul>
    {{#each errors}}
        <li>
            <div>{{ this.msg }}</div>
        </li>
    {{/each}}
</ul>
<form action="/users/new/create" method="post">
    <input type="text" placeholder="enter username" name="username"/>
    <input type="text" placeholder="enter user email" name="email"/>
    <button>create</button>
    <button>
        <a href="/users/"
           class="text-decoration-none">cancel</a>
    </button>
</form>
