<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<nav>
    <ul class="list-style-none">
        <li>nav item 1</li>
        <li>nav item 2</li>
    </ul>
</nav>
{{{ body }}}
</body>
</html>
